@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&family=Inter:wght@300;400;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
